<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="text-center">LAB ICT</h1>
      </div>
      <div class="modal-body">
        <%= form_for(resource, :as => resource_name, :class=> "form col-md-12 center-block", :url => session_path(resource_name)) do |f| %>
        <% if flash %>
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
        <% end %>
          <%= f.email_field :email, :autofocus => true, :class=>'form-control input-lg', :placeholder=>"E-mail" %>
          <br>
          <%= f.password_field :password, :class=>'form-control input-lg', :placeholder=>"Senha" %>
      </div>
      <div class="modal-footer">
        <div class="col-md-6" style="text-align:left">
          <%= link_to "Novo usuário? Registre-se",  {controller: "registrations", action: "new"} %>
        </div>
        <div class="col-md-6">
          <%= button_tag(type: 'submit', class: "btn btn-primary btn-lg") do %>
            <i class="fa fa-sign-in"></i> Entrar
          <% end %>
        <% end %>
        </div>  
      </div>
    </div>
  </div>
</div>


<div id="modalConfirmacao" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Usuário criado com sucesso !</h4>
          </div>
          <div class="modal-body">
              <p>Usuário criado com sucesso. Aguarde o administrador do sistema liberar o seu registro.</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          </div>
      </div>
  </div>
</div>