<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="text-center">LAB ICT</h1>
      </div>
      <div class="modal-body">
        <%= form_for(resource, :as => resource_name, :class=> "form col-md-12 center-block", :url => session_path(resource_name)) do |f| %>
        <%= render "shared/flash_messages", :target =>resource %>
          <%= f.email_field :email, :autofocus => true, :class=>'form-control input-lg', :placeholder=>"E-mail" %>
          <br>
          <%= f.password_field :password, :class=>'form-control input-lg', :placeholder=>"Senha" %>
      </div>
      <div class="modal-footer">
        <div class="col-md-6" style="text-align:left">
          <%= link_to "Registre-se",  {controller: "registrations", action: "new"}, :class=>"btn btn-primary btn-lg" %>
        </div>
        <div class="col-md-6">
          <%= button_tag(type: 'submit', class: "btn btn-primary btn-lg") do %>
            <i class="fa fa-sign-in"></i> Entrar
          <% end %>
        <% end %>
        </div>  
      </div>
    </div>
  </div>
</div>