<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @schedule.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @schedule.end_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @schedule.user %>
</p>

<p>
  <strong>Equip:</strong>
  <%= @schedule.equip %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
