<%= form_for(@equip) do |f| %>
  <% if @equip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equip.errors.count, "error") %> prohibited this equip from being saved:</h2>

      <ul>
      <% @equip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :patrimony_id %><br>
    <%= f.text_field :patrimony_id %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
