<h1>Listing equips</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Model</th>
      <th>Patrimony</th>
      <th>Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equips.each do |equip| %>
      <tr>
        <td><%= equip.name %></td>
        <td><%= equip.model %></td>
        <td><%= equip.patrimony_id %></td>
        <td><%= equip.cost %></td>
        <td><%= link_to 'Show', equip %></td>
        <td><%= link_to 'Edit', edit_equip_path(equip) %></td>
        <td><%= link_to 'Destroy', equip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equip', new_equip_registration_path %>
