<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @equip.name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @equip.model %>
</p>

<p>
  <strong>Patrimony:</strong>
  <%= @equip.patrimony_id %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @equip.cost %>
</p>

<%= link_to 'Edit', edit_equip_path(@equip) %> |
<%= link_to 'Back', equips_path %>
