<h2>Edit <%= resource_name.to_s.humanize %></h2>
  <% if current_user  %>
    <%= form_for(@user, url: update_user_registration_path(@user.id), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %></div>

      <div><%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %></div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div><%= f.submit "Update" %></div>
    <% end %>
  <% end %>

<h3>Cancel my account</h3>
<%= link_to "Back", :back %>
