<%= javascript_include_tag "schedules" %>
<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="text-center">Registro</h1>
      </div>
      <div class="modal-body">
        <%= form_for(resource, as: resource_name, url: new_user_registration_path) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group row">
            <%= f.label :name, "Nome:", :class=>"col-sm-2" %>
            <div class="col-sm-10">
              <%= f.text_field :name, autofocus: true, :class=>"form-control", :placeholder=>"Nome" %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :email, "E-mail:", :class=>"col-sm-2" %>
            <div class="col-sm-10">
              <%= f.text_field :email, autofocus: true, :class=>"form-control", :placeholder=>"E-mail" %>
            </div>
          </div>

           <div class="form-group row">
            <%=f.label :internal, "Tipo:",:class=>"col-sm-2" %>
            <div class="col-sm-8">
              <%= f.select :internal,([["Membro da UNIFESP - SJC",true],["Membro de outra instituição",false]]), {}, { :class => 'form-control' } %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :institution, "Instituição:", :class=>"col-sm-2" %>
            <div class="col-sm-10">
              <%= f.text_field :institution,  autofocus: true, :class=>"form-control", :placeholder=>"Instituição" %>
            </div>
          </div>

          <div class="form-group row">
            <%=f.label :type, "Tipo:",:class=>"col-sm-2" %>
            <div class="col-sm-3">
              <%= f.radio_button("type", "2",{ :checked => true })  %> Aluno
            </div>
            <div class="col-sm-4">
              <%= f.radio_button("type", "1")  %> Professor 
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :ra, "RA:", :class=>"col-sm-2" %>
            <div class="col-sm-10">
              <%= f.text_field :ra, autofocus: true, :class=>"form-control", :placeholder=>"RA" %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :password, "Senha:", :class=>"col-sm-2" %>
            <div class="col-sm-10">
              <%= f.password_field :password, autocomplete: "off", :class=>"form-control", :placeholder=>"Senha (mínimo de 8 caracteres)." %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :password_confirmation, "Confirma senha:", :class=>"col-sm-3" %>
            <div class="col-sm-9">
              <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"form-control", :placeholder=>"Confirmar senha" %>
            </div>
          </div>

          
      </div>
      <div class="modal-footer">
        <div class="col-md-6" style="text-align:left">
          <%= link_to "Voltar",  {controller: "sessions", action: "new"}, :class=>"btn btn-primary btn-lg" %>
        </div>
        <div class="col-md-6">
          <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
            </i> Registrar
          <% end %>
            
        </div>
        <% end %>
      </div>
    </div>
  </div>


  <script type="text/javascript">

    $("#user_institution").val("UNIFESP-SJC");
    $("#user_institution").attr("readonly", true);
    //$("#user_institution").attr("style", "display:none");

    $('#user_internal').on('change', function() {
      if(this.value == "true"){
        $("#user_institution").val("UNIFESP-SJC");
        $("#user_institution").attr("readonly", true);
      }else{
        $("#user_institution").val("");
        $("#user_institution").attr("readonly", false);
      }
    });

    //Professor
    $('#user_type_1').on('change', function() {
      if(this.value == "1"){
        $("#user_ra").val("");
        $("#user_ra").attr("disabled", true);
      }
    });

    //Aluno
    $('#user_type_2').on('change', function() {
      if(this.value == "2"){
        $("#user_ra").val("");
        $("#user_ra").attr("disabled", false);
      }
    });
  </script>


</div>